@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-main-color: #00298d;
  --color-light-grey: #f0f2f5;
  --color-border-blue: #c9d5ff;
  --color-bg-blue: #f2f6ff;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--color-light-grey);
}

@layer components {
  .tab-btn {
    @apply text-center cursor-pointer rounded-xl py-2 text-sm font-extrabold transition text-slate-600 hover:text-slate-800;
  }

  .active-tab {
    @apply bg-white text-main-color shadow-sm hover:text-main-color;
  }

  .input-field {
    @apply block w-full ps-11 pe-4 py-3 rounded-xl border border-slate-200 bg-slate-50 text-sm text-slate-800 placeholder-slate-400 transition focus:bg-white focus:outline-none focus:ring-0 focus:border-main-color;
  }
}
